@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.btn {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    opacity: 0.4;
  }
}

.default {
  border-color: $line-light;
  background-color: $white;
}

.primary {
  color: $white;
  border-color: $primary;
  background-color: $primary;
}

.black {
  color: $white;
  border-color: $black;
  background-color: $black;
}

.danger {
  color: $white;
  border-color: $danger;
  background-color: $danger;
}

.primary_line {
  color: $primary;
  border-color: $primary;
  background-color: $white;
}

.sm {
  font-size: $font-sm;
  padding: 4px 20px;
}

.md {
  font-size: $font-md;
  padding: 6px 20px;
}

.lg {
  font-size: $font-lg;
  padding: 8px 24px;
}

.xl {
  font-size: $font-2xl;
  padding: 10px 28px;
}

.full {
  width: 100%;
}
