@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid $line-lighter;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: $font-md;
  text-align: left;
  + .main {
    margin-top: 8px;
  }
}

.content {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  p {
    @include text_ellipsis(4);
    font-size: $font-sm;
    color: $black-light;
  }
  img {
    flex: 0 0 auto;
    width: 96px;
    height: 96px;
    object-fit: cover;
    border: 1px solid $line-lighter;
    border-radius: 8px;
  }
}

.info {
  display: inline-flex;
  align-items: center;
  color: $black-light;
  margin-top: 4px;
  .wrap_icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .icon {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: $font-sm;
  }
  .date {
    font-size: $font-xs;
    margin-left: auto;
  }
}
