@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.dropdown {
  position: relative;
  display: inline-block;
  button {
    color: $black;
  }
}

.dropdown_ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 4px);
  font-size: $font-md;
  padding: 16px 20px;
  gap: 20px;
  border: 1px solid $line-light;
  border-radius: 8px;
  background: $white;
  z-index: 10;
  width: fit-content;
  min-width: 100%;

  &.dropdown_right {
    right: 0;
  }
}

.dropdown_li {
  display: flex;
  font-size: $font-md;

  button {
    background: transparent;
    border: 0;
    white-space: nowrap;
  }

  &.selected button {
    font-weight: $font-bold;
  }
}
