@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.tab_container {
  @include full_width;
  position: -webkit-sticky;
  position: sticky;
  top: 54px;
  border-bottom: 1px solid $line-lighter;
  background: $white;
  z-index: $z-tab;
  overflow: visible;

  .tab_inner_container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }
}

.tab {
  display: flex;
  font-size: $font-lg;
  gap: 22px;

  position: relative;

  overflow-x: auto; // 콘텐츠 넘칠 때만 스크롤바 표시
  // scroll-snap-type: x mandatory; // 스크롤 스냅 적용
  // 스크롤바 숨김
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style: none;
    cursor: pointer;
    // scroll-snap-align: start; // 탭을 스냅 포인트로 만듦
    flex-shrink: 0; // 탭 항목이 축소되지 않도록 함

    button {
      color: $black-light;
      padding: 0;
      border: none;
      background: none;
      display: flex;
      gap: 4px;
      align-items: center;
      padding-top: 12px;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
    }

    .active {
      font-weight: $font-bold;
      // color: $black;
      // border-bottom: 2px solid $black;
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }
}
