@import "../../styles/_variables";
@import "../../styles/_mixin";

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  text-align: center;

  .star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .main_showing_concert_title {
    font-size: $font-xl;
    letter-spacing: -0.02em;
    color: $black;
    line-height: $font-height-lg;
    margin-top: 8px;
    font-weight: $font-medium;
    margin-bottom: 15px;
  }

  .main_showing_concert_posters {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    img {
      @include poster_shadow;
      flex-shrink: 0;
      position: absolute;

      &:first-child {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 20%;
      }
      &:nth-child(2) {
        z-index: 10;
        position: relative;
      }
      &:last-child {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 20%;
      }
    }
  }
  .loading_imageSlider {
    height: 493px;

    @media (max-width: 420px) {
      height: 440px;
    }
    @media (max-width: 350px) {
      height: 400px;
    }
    @media (max-width: 300px) {
      height: 360px;
    }
    display: flex;
    justify-content: center;
    padding-top: 50%;
  }

  .main_showing_concert_reviews {
    @include full-width;
    background-color: $primary;
    color: $white;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -43px; // -26px
    // padding: 50px 23.5px 24px 23.5px;
    padding: 0 24px;
    padding-top: 15px;
    letter-spacing: -0.02em;

    .reviews {
      animation: slideUp 0.5s ease-out;

      .review {
        @include text_ellipsis(1);
        font-size: $font-md;
        margin: 0;
        color: $white;
      }
      .nickname {
        color: $white-lighter;
        font-size: $font-xs;
        margin-top: 4px;
        font-style: normal;
      }

      &:last-child {
        margin-top: 12px;
      }
    }
  }

  .share_your_experience {
    background-color: $box-light;
    padding: 16px 0;
    margin-top: 36px;
    font-weight: $font-medium;
    color: $black;
    margin-bottom: 12px;
  }
}
// Main.module.scss

.poster {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.poster-enter {
  opacity: 0;
  transform: translateX(-20px); /* 왼쪽에서 들어오는 효과 */
}

.poster-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.poster-exit {
  opacity: 1;
  transform: translateX(0);
}

.poster-exit-active {
  opacity: 0;
  transform: translateX(20px); /* 오른쪽으로 나가는 효과 */
}
