@import "../../styles/_variables";
@import "../../styles/_mixin";

.main {
  text-align: center;

  .star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  .main_showing_concert_title {
    font-size: $font-xl;
    letter-spacing: -0.02em;
    color: $black;
    line-height: $font-height-lg;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .main_showing_concert_posters {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    img {
      @include poster_shadow;
      flex-shrink: 0;
      position: absolute;

      &:first-child {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 20%;
      }
      &:nth-child(2) {
        z-index: 10;
        position: relative;
      }
      &:last-child {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 20%;
      }
    }
  }
  .main_showing_concert_reviews {
    background-color: $primary;
    color: $white;
    // TODO: mixin 적용하기
    width: calc(100% + 40px);
    margin: -26px -20px 0 -20px;
    padding: 42px 23.5px 24px 23.5px;
    letter-spacing: -0.02em;

    div {
      .review {
        @include text_ellipsis(1);
        font-size: $font-md;
        margin: 0;
      }
      .nickname {
        color: $white-lighter;
        font-size: $font-xs;
        margin-top: 4px;
        font-style: normal;
      }

      &:last-child {
        margin-top: 12px;
      }
    }
  }
  .category_nav {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8px;
    column-gap: 12px;

    .fullWidth {
      grid-column: span 3;
      margin-top: 4px;
    }
  }
  .share_your_experience {
    background-color: $box-light;
    padding: 16px 0;
    margin-top: 36px;
    font-weight: $font-medium;
    color: $black;
    margin-bottom: 12px;
  }
}
