@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.tag {
  color: $white;
  display: inline;
  gap: 4px;
  border-radius: 100px;
  background-color: $line-light;
  font-size: $font-xs;
  border-style: none;
  padding: 1px 6px;
  width: fit-content;
  line-height: $font-height-lg;

  &:disabled {
    opacity: 0.4;
  }
}

.primary {
  background-color: $primary;
}

.primary_light {
  background-color: $primary-light;
}

.black {
  background-color: $black;
}

.white {
  color: $black-light;
  background-color: $white;
  border: 1px solid $black-lighter;
}

.black_line {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
}
