@import "../../styles/_variables";
@import "../../styles/_mixin";

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 28px 0;
}

.tab_content {
  &.bookmark {
    padding: 20px 0;
  }
}
