// @mixin box($value) {
//   width: 100px;
//   height: 100px;

//   @if ($value == "circle") {
//     border: 1px solid black;
//     border-radius: 50%;
//   }

//   @if ($value == "rect") {
//     border: 1px solid black;
//     border-radius: 10%;
//   }
// }

// @mixin danger {
//   color: $danger;
// }

@mixin text_ellipsis($lineNumber) {
  display: block;
  display: -webkit-box;
  max-height: calc($lineNumber * 1.4em);
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: $lineNumber;
  -webkit-box-orient: vertical;
}

@mixin icon_shadow {
  filter: drop-shadow(2px 2px 2.4px rgba(0, 0, 0, 0.4));
}

@mixin poster_shadow {
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.4));
}

@mixin full_width {
  width: calc(100% + 40px);
  margin: 0 -20px;
}

@mixin fixed_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $page-x-max;
  left: 50%;
  transform: translateX(-50%);
}

@mixin poster_ratio {
  // 이 속성을 사용할때는 width나 height 중 하나만 설정해주세요. (나머지 하나는 auto)
  aspect-ratio: 42 / 60;
  object-fit: cover;
}
