$font-base: #1a1a1aeb;
$font-light: #1a1a1a99;
$font-lighter: #1a1a1a66;

$line-light: #1a1a1a33;
$line-lighter: #1a1a1a1f;

$box-base: #eeeeee;
$box-light: #f6f6f6;

$white: #ffffff;
$white-light: #ffffffcc;
$white-lighter: #ffffff99;

$primary: #7926ff;
$primary-light: #7926ff1f;

$danger: #ed4b4b;
$danger-light: #ed4b4b1f;
