@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./variables";
@import "./mixin";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: none;

  // TODO: 수정 필요
  line-height: 1.2;
  background: #ddd;
  overflow-x: hidden;
}

#root {
  background: $white;
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-bold;
}

* {
  box-sizing: border-box;
  font-weight: $font-regular;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

// reset.css
p {
  margin: 0;
}

input {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

// // blue
// .card {
//   @include box("circle");
//   background-color: blue;
// }

// // red
// .profile {
//   @include box("rect");
//   background-color: red;
// }
