@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "./variables";
@import "./mixin";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: none;
  line-height: 150%;
}

// // blue
// .card {
//   @include box("circle");
//   background-color: blue;
// }

// // red
// .profile {
//   @include box("rect");
//   background-color: red;
// }
