@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.dialog {
  @include fixed_bottom;
  background: $white;
  border-radius: 20px 20px 0 0;
  // border: 0;
  padding: 20px 20px 60px 20px;
  z-index: $z-modal;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: $font-xl;
  }

  &.warning {
    h2 {
      color: $danger;
    }
    .description {
      color: $black;
    }
  }
}

.description {
  font-size: $font-md;
  line-height: $font-height-lg;
  color: $black-light;
  margin-top: 10px;
}

.wrapper_btn {
  display: flex;
  gap: 10px;
  margin-top: 24px;
  &:not(.row) {
    flex-direction: column;
  }
}
