@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.star_tag {
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: $primary-lighter;
  padding: 5px 6px;
  border-radius: 4px;
  font-size: $font-md;
  gap: 4px;
  * {
    color: $primary;
  }
}
