@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.column_menu_li {
  @include full_width;
  display: flex;
  align-items: center;
  min-height: 68px;
  border-bottom: 1px solid $line-lighter;
  &.faded {
    padding: 20px;
    .column_menu_item {
      padding: 0;
      width: auto;
      color: $black-lighter;
      text-decoration: underline;
    }
  }
}

.column_menu_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: none;
  background: none;
  align-items: center;
  padding: 20px;
  line-height: 23px;
  color: $black;

  &.without_icon {
    padding-top: 22px;
    padding-bottom: 23px;
  }
}
