@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.card {
  display: inline-block;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: $font-md;
    text-align: center;
    margin-top: 8px;
    @include text_ellipsis(2);
  }

  img {
    width: 100%;
    aspect-ratio: 170 / 230;
    object-fit: cover;
  }

  .wrapper_bookmark {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-medium;
  }
}
