@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.card {
  display: inline-block;
  position: relative;
  width: calc((100% - 20px) / 3);
  margin-top: 20px;
  &:not(:nth-child(3n)) {
    margin-right: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: $font-md;
    text-align: center;
    margin-top: 8px;
    @include text_ellipsis(2);
  }

  img {
    width: 100%;
    aspect-ratio: 170 / 230;
    object-fit: cover;
  }

  .btn_bookmark {
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
  }
}
