@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.header {
  width: calc(100% + 40px);
  margin: 0 -20px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $line-light;
  align-items: center;
  position: relative;
}

.left_btn {
  margin-right: 12px;
}

.logo {
  position: absolute; // absolute로 로고를 중앙에 고정
  left: 50%;
  transform: translateX(-50%);
}
