@import "../../styles/_variables";
@import "../../styles/_mixin";

@mixin full_width_column {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
}

.concert_detail {
  line-height: $font-height-lg;

  .info_update {
    @include full_width;
    display: block;
    text-align: center;
    background-color: $box-light;
    color: $black-lighter;
    font-size: $font-xs;
    padding: 4px 0;
  }

  .details {
    display: flex;
    gap: 24px;
    margin-top: 30px;

    .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      color: $black;
      position: relative;

      .booking_info {
        span {
          display: flex;
          gap: 8px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        .booking_rate {
          font-size: $font-sm;
          font-weight: $font-medium;
        }
      }
      .bookmark {
        color: $primary;
        right: 0;
        top: 0;
        position: absolute;
        padding: 0;
      }
      .title {
        @include text_ellipsis(2);
        font-size: $font-xl;
        font-weight: $font-bold;
        margin-top: 10px;
        margin-bottom: 8px;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 7px;

        .star_score {
          width: 100px;
          height: 21px;
          margin-top: 6px;
          background-color: aliceblue;
        }

        .review_link {
          display: flex;
          align-items: center;
          gap: 6.8px;
        }

        .rating_text {
          font-size: $font-sm;
          font-weight: $font-medium;

          &_gray {
            font-size: $font-sm;
            font-weight: $font-medium;
            color: $black-light;
          }
        }
      }
      .concert_info {
        font-size: $font-sm;
      }
      .booking_button {
        margin-top: 8px;
      }
    }
  }

  .date_location {
    margin-top: 24px;
    svg {
      color: $black-light;
    }
    font-size: $font-md;
  }

  .icon_text_container {
    display: flex;
    align-items: center;

    gap: 4px;
    margin-bottom: 6px;
  }
  .tab_section {
    position: relative;
    margin-top: 20px;
    .write_review {
      display: block;
      box-sizing: border-box;
    }
    div {
      z-index: 0;
    }
  }

  .more_info {
    dl {
      font-size: $font-md;
      display: grid;
      grid-template-columns: 60px 1fr;
      column-gap: 24px;
      row-gap: 8px;
      padding: 30px 2px;
      word-break: keep-all;
      white-space: normal;
    }
    .poster {
      @include full_width_column;
      margin: 12px 0;

      .image {
        width: 100%;
      }
    }

    .description {
      @include full_width_column;
      white-space: pre-wrap;
    }

    .label {
      color: $black-light;
    }
    .detail {
      font-size: $black;
    }
  }
}
