@import "../../styles/_variables";
@import "../../styles/_mixin";

.recentSearchList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recentSearchItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: -8px;

  button {
    font-size: $font-md;
    font-weight: $font-medium;
    color: $black-light;
    padding: 6px 8px;
  }
  span {
    font-size: $font-sm;
    font-weight: $font-light;
    margin-right: 2px;
  }
}

.searchInfo {
  display: flex;
  align-items: center;
  color: $black-lighter;
}

.removeButton {
  margin-left: 10px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.h2 {
  font-size: $font-xl;
  margin: 24px 0 16px 0;
}
