@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.container {
  border: none;
  background-color: $box-base;
  border-radius: 8px;
  display: flex;
  font-size: $font-lg;

  .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
  }

  input {
    color: $black;
    width: 100%;
    &::placeholder {
      color: $black-lighter;
    }
  }
  button.clear {
    padding: 0;
    border: none;
    cursor: pointer;
  }
}
.full {
  width: 100%;
}
