@import "../../../styles/mixin";
@import "../../../styles/variables";

@mixin poster {
  @include poster_ratio;
  width: 215px;
  height: auto;

  @media (max-width: 420px) {
    width: 180px;
    height: auto;
  }
  @media (max-width: 350px) {
    width: 150px;
    height: auto;
  }
  @media (max-width: 300px) {
    width: 120px;
    height: auto;
  }
}

.slick-initialized {
  .slick-slide {
    padding: 40px 0;
  }
}

.center {
  // 가운데 위치하는 포스터
  .slick-center {
    .link {
      opacity: 1;
      transform: scale(1.2);
      z-index: 10;
      position: relative;
      .image {
        @include poster;
      }
    }
  }

  // 양 옆에 위치하는 포스터
  .link {
    opacity: 0.2;
    transform: scale(1);
    transition: all 300ms ease;
    z-index: 0;
    position: relative;

    .image {
      @include poster;
    }
  }
}

.slick-prev,
.slick-next {
  z-index: 10;
  display: none;
}
.slick-prev {
  left: 18px;
}

.slick-next {
  right: 18px;
}
.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}

.slick-slide.slick-active.slick-center.slick-current {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
